
*.xml

*.iml

*.json

*.pyc

Py/venv/Lib/site-packages/attrs-19.2.0.dist-info/INSTALLER

Py/venv/Lib/site-packages/backcall-0.1.0-py3.7.egg-info/dependency_links.txt

Py/venv/Lib/site-packages/_plotly_future_/

Py/venv/Lib/site-packages/_plotly_utils/

Py/venv/Lib/site-packages/

Py/venv/Scripts/

Py/venv/share/jupyter/kernels/python3/logo-32x32.png

*.js

Py/venv/share/man/man1/ipython.1.gz

Py/venv/share/jupyter/nbextensions/jupyter-js-widgets/extension.js.map

Py/venv/share/jupyter/kernels/python3/logo-64x64.png

Py/venv/pyvenv.cfg

*.pth

Py_38/Lib/site-packages/pip-19.0.3-py3.8.egg/EGG-INFO/dependency_links.txt

Py_38/Lib/site-packages/pip-19.0.3-py3.8.egg/EGG-INFO/entry_points.txt

Py_38/Lib/site-packages/pip-19.0.3-py3.8.egg/EGG-INFO/not-zip-safe

Py_38/Lib/site-packages/pip-19.0.3-py3.8.egg/pip/__init__.py

Py_38/Lib/site-packages/pip-19.0.3-py3.8.egg/EGG-INFO/

Py_38/Lib/site-packages/pip-19.0.3-py3.8.egg/pip/

Py_38/Lib/site-packages/

Py_38/
